[Unit]
Description=TiddlyWiki Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
Environment="TW_PORT=8080"
Environment="TW_DOCKERVOLUME=%n"
EnvironmentFile=/etc/tiddlywiki/%n.conf
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nicolaw/tiddlywiki
ExecStart=/usr/bin/docker run -p ${TW_PORT}:${TW_PORT} -e TW_PORT=${TW_PORT} --env-file /etc/tiddlywiki/%n.conf -v ${TW_DOCKERVOLUME}:/var/lib/tiddlywiki --name %n nicolaw/tiddlywiki
